<span><%= brother.name %></span>

<%= link_to 'P', record_meeting_path(brother_id: brother, status: :present), remote: true, method: :post, class: "button tiny " + (attendence.nil? ? 'secondary' : (attendence.present? ? 'success' : 'transparent')) %>
<%= link_to 'L', record_meeting_path(brother_id: brother, status: :tardy), remote: true, method: :post, class: "button tiny " + (attendence.nil? ? 'secondary' : (attendence.tardy? ? 'alert' : 'transparent')) %>
<%= link_to 'A', record_meeting_path(brother_id: brother, status: :absent), remote: true, method: :post, class: "button tiny " + (attendence.nil? ? 'secondary' : (attendence.absent? ? 'alert' : 'transparent')) %>
<%= link_to 'E', record_meeting_path(brother_id: brother, status: :excused), remote: true, method: :post, class: "button tiny " + (attendence.nil? ? 'secondary' : (attendence.excused? ? 'warning' : 'transparent')) %>
