<h2>Meetings</h2>

<div class="row" id="new_meeting">
  <%= form_tag meetings_path do %>
  <div class="large-12 columns">
    <div class="row collapse">
      <div class="small-10 columns">
        <%= text_field_tag :name, 'House Meeting', placeholder: 'The name of the event. ' %>
      </div>
      <div class="small-2 columns">
        <%= submit_tag "Create", class: "button postfix" %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="row">
  <% if !@meetings.blank? %>
    <% for meeting in @meetings %>
      <a href="<%= meeting_path(meeting[:meeting]) %>">
        <div class="small-12 columns entry">
          <p><span class="keywords"><%= meeting[:meeting].name %></span> on <span class="keywords"><%= friendly_date(meeting[:meeting].created_at) %></span> at <span class="keywords"><%= friendly_time(meeting[:meeting].created_at) %></span></p>
          <p>
            Created by <span class="keywords"><%= meeting[:meeting].creator.name %></span>,
            <span class="keywords"><%= meeting[:present] %></span> present,
            <span class="keywords"><%= meeting[:excused] %></span> excused,
            <span class="keywords"><%= meeting[:tardy] %></span> tardy,
            <span class="keywords"><%= meeting[:absent] %></span> absent,
            attendence rate <span class="keywords"><%= number_to_percentage 100 * meeting[:rate] %></span>.
          </p>
        </div>
      </a>
    <% end %>
  <% else %>
    <div class="small-12 columns">
      There are currently no meetings.
    </div>
  <% end %>
</div>