<div class="row headerblock">
  <div class="small-12 columns">
    <h2>Brother <%= @brother.name %></h2>
    <h3>Pledge Class <%= @brother.pledge_class.name %>, ΛΦ '<%= two_digit_year(@brother) %><%= ", " + Brother::POSITION_NAMES[Brother.positions[@brother.position]] unless @brother.position.nil? %>
    </h3>
  </div>
</div>

<div id="info" class="row">
  <div class="small-12 columns entry">
    <p class="noindent">Kitchen Job Balance: <span class="keywords"><%= @brother.balance(:kitchen).value %></span></p>
    <p class="noindent">House Job Balance: <span class="keywords"><%= @brother.balance(:house).value %></span></p>
    <p class="noindent">Social Job Balance: <span class="keywords"><%= @brother.balance(:social).value %></span></p>
  </div>
</div>

<div id="entries" class="row">
  <% if !@logs.blank? %>
    <% for log in @logs %>
      <div class="small-12 columns entry">
        <p class="date">On <%= friendly_date(log[:time]) %> at <%= friendly_time(log[:time]) %></p>
        <p class="description"><%= markup_keywords(log[:description]) %></p>
      </div>
    <% end %>
  <% else %>
    <div class="small-12 columns entry">
      <p>There are no entries for this brother yet. </p>
    </div>
  <% end %>
</div>