<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>ΑΔΦ ΛΦ<%= content_for?(:title) ? " | " + yield(:title) : "" %></title>

    <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Tinos&subset=greek' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body id="<%= "#{params[:controller]}_#{params[:action]}" %>" class="<%= "#{params[:controller]}-action" %>">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="<%= root_path %>">ΑΔΦ ΛΦ</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <!-- <li><a href="attendence.html">Attendance</a></li> -->
          <% if signed_in? %>
            <li><a href="<%= brother_path(current_brother) %>">Welcome, Brother <%= current_brother.name %>! </a></li>
          <% end %>
          <% if can? :read, Meeting %>
            <li><a href="<%= meetings_path %>">Meetings</a></li>
          <% end %>
          <% if can? :read, Brother %>
            <li><a href="<%= brothers_path %>">Brothers</a></li>
          <% end %>
          <% if can? :read, Voucher %>
            <li><%= link_to 'Vouchers', vouchers_path %></li>
          <% end %>
          <% if signed_in? %>
            <li><a href="<%= sign_out_path %>">Sign Out</a></li>
          <% else %>
            <li><a href="<%= sign_in_path %>">Sign In</a></li>
          <% end %>
        </ul>
      </section>
    </nav>

    <div class="container">
      <div class="row">
        <div class="small-12 columns" id="summary">
          <%= render 'layouts/flashes' %>

          <%= yield %>
        </div>
      </div>
    </div>

    <div id="footer">
      Created with Love<br>
      Copyright ΑΔΦ ΛΦ 2014
    </div>
  </body>
</html>