<h2>Vouchers</h2>

<% if can? :create, Voucher %>
  <div class="row">
    <%= form_for(@voucher) do |f| %>
    <div class="large-12 columns">
      <div class="row collapse">
        <div class="small-10 columns">
          <%= f.text_field :title, placeholder: 'The title of the voucher. ' %>
        </div>
        <div class="small-2 columns">
          <%= submit_tag "Create", class: 'button postfix' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% end %>

<% @vouchers.each do |v| %>
  <div class="row entry">
    <div class="small-12 columns">
      <%= link_to v do %>
        <p><%= v.title %></p>
        <p>Submitted by <span class="keywords"><%= v.brother.name %></span> on <span class="keywords"><%= friendly_date(v.created_at) %></span></p>
      <% end %>
    </div>
  </div>
<% end %>
